.c1{
    width: 100px;
    height: 100px;
    position: static;
    background: firebrick;
    padding: 100px;
}

.c2{
    width: 100px;
    height: 100px;
    position: static;
    background: rgb(34, 168, 178);
    margin: 111px;
    padding: 90px;
}

.c3{
    width: 100px;
    height: 100px;
    position: static;
    background: rgb(149, 34, 178);
    margin: 152px;
    padding: 4px;
}

/* z3 ffffffffffffffffffffffffffffffff */

.cl7{
    width: 500px;
    height: 100px;
    background: rgb(0, 255, 21);
    position: relative;
    top: 250px;
    
}

.c4{
    width: 100px;
    height: 100px;
    background: rgb(203, 255, 17);
    float: left;
    
    
}

.c5{
    width: 100px;
    height: 100px;
    background: rgb(0, 238, 255);
    float: left;
   
    
}

.c6{
    width: 100px;
    height: 100px;
    background: rgb(255, 0, 0);
    float: left;
       
}

@media screen and (max-width: 500px){
    .cl45{
        width: 100px;
        height: 100px;
        background: forestgreen;
        border-bottom: 100px;
        border-top: 0 solid transporent;
        border-right: 50px solid transporent;
        border-left: 50px solid transporent;
    }
}

