.cl-1 {
  width: 100px;
  height: 100px;
  background: #fc00fc;
  float: left;
}

.cl-2 {
  width: 100px;
  height: 100px;
  background: #10cbe4;
  float: left;
}

.cl-3 {
  width: 100px;
  height: 100px;
  background: #fce300;
  float: left;
}

@media (orientation: portrait) {
  .cl-1,
  .cl-3 {
    float: right;
  }
}

@media (max-width: 800px) {
  .cl-1,
  .cl-3 {
    height: 0;
    width: 0;
    background: transparent;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 50px solid red;
  }
}
