.class-12{
    background-color: rgba(0, 22, 0, 8);
    margin-top: 25px;
}

*{
    margin: 50;
    padding: 100;
}

[disabled]{
    color: red;
}

#id-10{
    color: rgb(4, 255, 25);
    font-size: 25px;
}

.class-15 li:nth-child(2n+1){
    background-color: aqua;
}

ul:nth-child(2n+1){
    background-color: rgba(0, 5, 111, 8);
}

.cl1~li{
    color: orange;
}

li:hover{
    color: rgb(67, 168, 185);
}

li#id-2, li#id-4{
    color: beige;
}

.class-16, .class-17, .class-18, .class-19{
    background: steelblue linear-gradient(
     rgba(0, 0, 0, 0) 20%, rgba(0, 0, 0, .2) 50%,  transparent 70%);
   }

.class-16, .class-17, .class-18, .class-19{
    width: 150px;
    height: 150px;
    margin-top: 15px;
    padding: 10px;
    border: solid rgb(255, 0, 0);
    border-width: 3px 7px 7px 4px;
    border-radius: 10px;
}