* {
  box-sizing: border-box;
}
body {
  margin: 0;
  position: relative;
  height: 100vh;
}
/* @keyframes cl2 {
    0% {
      left: 100px;
      border-color: rgb(70, 35, 13);
    }
    50% {
      left: 20px;
      border-color: brown;
    }
    100% {
      left: 60px;
      border-color: rgb(255, 0, 0);
    }
  }

.cl2 {
  width: 0;
  height: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-bottom: 100px solid rgb(200, 255, 0);
  float: right;
  position: absolute;
  right: 0;
  bottom: 0;
  animation: cl2 2s infinite ease-in-out;
} */

@keyframes cl1 {
    0% {
      left: 0;
      border-color: rgb(70, 35, 13);
    }
    50% {
      left: 50px;
      border-color: brown;
    }
    100% {
      left: 220px;
      border-color: rgb(255, 0, 0);
    }
  }

.cl1 {
  width: 0;
  height: 0;
  left: 0;
  top: 0;
  border-top: 100px solid transparent;
  border-right: 100px solid red;
  position: absolute;
  /* animation: cl1 6s infinite ease-in-out; */
}
