.cl000{
    width: 2px;
    height: 2100px;
}
.cl0{
    width: 540px;
    height: 403px;
    position: relative;
    top: -1538px;
    border-color: #24375B;
    border-style: solid;
    z-index: 5;
}

.cl1{
    width: 0; height: 0;
    border-left: 251px solid transparent;
    border-right: 249px solid transparent;
    border-bottom: 103px solid #24375B;
    position: relative;
    z-index: 5;
}
.cl2{
    width: 500px;
    height: 300px;
    background-color: brown;
    position: relative;
    z-index: 5;
}

.cl3{
    width: 60px;
    height: 60px;
    border-style: solid;
    border-color: rgb(165, 97, 19);
    background-color: rgb(82, 225, 230);
    left: 67px;
    top: 41px;
    position: relative;
    z-index: 6;
}

.cl4{
    width: 60px;
    height: 60px;
    border-style: solid;
    border-color: rgb(165, 97, 19);
    background-color: rgb(82, 225, 230);
    left: 67px;
    top: 108px;
    position: relative;
    z-index: 6;
}

.cl5{
    width: 60px;
    height: 60px;
    border-style: solid;
    border-color: rgb(165, 97, 19);
    background-color: rgb(82, 225, 230);
    left: 376px;
    top: -87px;
    position: relative;
    z-index: 6;
}

.cl6{
    width: 60px;
    height: 60px;
    border-style: solid;
    border-color: rgb(165, 97, 19);
    background-color: rgb(82, 225, 230);
    left: 376px;
    top: -23px;
    position: relative;
    z-index: 6;
}

.cl7, .cl9, .cl11, .cl13{
    background: #CD6D45;
    height: 60px;
    width: 5px;
    position: relative;
    left: 21px;
    z-index: 7;}
    .cl8, .cl10, .cl12, .cl14:after {
    content: "";
    height: 5px;
    width: 60px;
    background: #CD6D45;
    position: absolute;
    left: -21px;
    top: 22px;
    z-index: 7;
}

.cl15{
    width: 44px;
    height: 87px;
    background-color: rgb(73, 35, 9);
    position: relative;
    top: -87px;
    left: 226px;
    z-index: 6;
}

.cl16{
    width: 2px;
    height: 16px;
    background: rgb(160, 158, 21);
    border-radius: 50%;
    position: relative;
    left: 16%;
    top: 37px;
    z-index: 7;
}

.cl17{
    background: #CD6D45;
    height: 50px;
    width: 7px;
    position: relative;
    left: 533px;
    top: -339px;
    z-index: 6;}
    .cl18:after {
    content: "";
    height: 7px;
    width: 33px;
    background: #CD6D45;
    position: absolute;
    left: -33px;
    top: 37px;
    z-index: 6;
}

.cl19{
    background: #CD6D45;
    height: 65px;
    width: 7px;
    position: relative;
    left: 533px;
    top: -257px;
    z-index: 6;}
    .cl20:after {
    content: "";
    height: 7px;
    width: 33px;
    background: #CD6D45;
    position: absolute;
    left: -33px;
    top: 46px;
    z-index: 6;
}

.cl21{
    background: #CD6D45;
    height: 4px;
    width: 40px;
    position: relative;
    left: 500px;
    top: -324px;
    z-index: 6;
}

.cl22{
    width: 40px;
    height: 20px;
    background: #CD6D45;
    position: relative;
    left: 500px;
    top: -281px;
    z-index: 6;
}

.cl23{
    width: 40px;
    height: 20px;
    background: #CD6D45;
    position: relative;
    left: 500px;
    top: -440px;
    z-index: 6;
}

/* ffffffffffffffffffffffffffffffffffffffffffffffffffffffff */

.c2l0{
    width: 540px;
    height: 403px;
    position: absolute;
    z-index: 0;
    top: 1439px;
    border-color: #24375B;
    border-style: solid;
    z-index: 5;
}

.c2l1{
    width: 0; height: 0;
    border-left: 251px solid transparent;
    border-right: 249px solid transparent;
    border-bottom: 103px solid #24375B;
    position: absolute;
    z-index: 5;
}
.c2l2{
    width: 500px;
    height: 300px;
    background-color: brown;
    position: absolute;
    top: 103px;
    z-index: 5;
}

.c2l3{
    width: 60px;
    height: 60px;
    border-style: solid;
    border-color: rgb(165, 97, 19);
    background-color: rgb(82, 225, 230);
    left: 67px;
    top: 41px;
    position: absolute;
    z-index: 6;
}

.c2l4{
    width: 60px;
    height: 60px;
    border-style: solid;
    border-color: rgb(165, 97, 19);
    background-color: rgb(82, 225, 230);
    left: 67px;
    top: 179px;
    position: absolute;
    z-index: 6;
}

.c2l5{
    width: 60px;
    height: 60px;
    border-style: solid;
    border-color: rgb(165, 97, 19);
    background-color: rgb(82, 225, 230);
    left: 376px;
    top: 42px;
    position: absolute;
    z-index: 6;
}

.c2l6{
    width: 60px;
    height: 60px;
    border-style: solid;
    border-color: rgb(165, 97, 19);
    background-color: rgb(82, 225, 230);
    left: 376px;
    top: 177px;
    position: absolute;
    z-index: 6;
}

.c2l7, .c2l9, .c2l11, .c2l13{
    background: #CD6D45;
    height: 60px;
    width: 5px;
    position: relative;
    left: 21px;
    z-index: 7;}
    .c2l8, .c2l10, .c2l12, .c2l14:after {
    content: "";
    height: 5px;
    width: 60px;
    background: #CD6D45;
    position: absolute;
    left: -21px;
    top: 22px;
    z-index: 7;
}

.c2l15{
    width: 44px;
    height: 87px;
    background-color: rgb(73, 35, 9);
    position: absolute;
    top: 316px;
    left: 226px;
    z-index: 6;
}

.c2l16{
    width: 2px;
    height: 16px;
    background: rgb(160, 158, 21);
    border-radius: 50%;
    position: absolute;
    left: 16%;
    top: 37px;
    z-index: 7;
}

.c2l17{
    background: #CD6D45;
    height: 50px;
    width: 7px;
    position: relative;
    left: 533px;
    top: 154px;
    z-index: 5;}
    .c2l18:after {
    content: "";
    height: 7px;
    width: 33px;
    background: #CD6D45;
    position: absolute;
    left: -33px;
    top: 37px;
    z-index: 5;
}

.c2l19{
    background: #CD6D45;
    height: 65px;
    width: 7px;
    position: relative;
    left: 533px;
    top: 243px;
    z-index: 5;}
    .c2l20:after {
    content: "";
    height: 7px;
    width: 33px;
    background: #CD6D45;
    position: absolute;
    left: -33px;
    top: 46px;
    z-index: 5;
}

.c2l21{
    background: #CD6D45;
    height: 4px;
    width: 40px;
    position: absolute;
    left: 500px;
    top: 290px;
    z-index: 5;
}

.c2l22{
    width: 40px;
    height: 20px;
    background: #CD6D45;
    position: absolute;
    left: 500px;
    top: 338px;
    z-index: 5;
}

.c2l23{
    width: 40px;
    height: 20px;
    background: #CD6D45;
    position: absolute;
    left: 500px;
    top: 191px;
    z-index: 5;
}

/* ffffffffffffffffffffffffffffffffffffffffffffffffffffffff */

.c3l0{
    width: 800px;
    height: 500px;
    position: fixed;
    
    z-index: 0;
}

.c3l1{
    width: 0; height: 0;
    border-left: 251px solid transparent;
    border-right: 249px solid transparent;
    border-bottom: 103px solid #24375B;
    position: fixed;
    top: 144px;
    z-index: 1;
}
.c3l2{
    width: 500px;
    height: 300px;
    background-color: brown;
    position: fixed;
    top: 247px;
    z-index: 2;
}

.c3l3{
    width: 60px;
    height: 60px;
    border-style: solid;
    border-color: rgb(165, 97, 19);
    background-color: rgb(82, 225, 230);
    left: 67px;
    top: 281px;
    position: fixed;
    z-index: 5;
}

.c3l4{
    width: 60px;
    height: 60px;
    border-style: solid;
    border-color: rgb(165, 97, 19);
    background-color: rgb(82, 225, 230);
    left: 67px;
    top: 398px;
    position: fixed;
    z-index: 2;
}

.c3l5{
    width: 60px;
    height: 60px;
    border-style: solid;
    border-color: rgb(165, 97, 19);
    background-color: rgb(82, 225, 230);
    top: 284px;
    left: 367px;
    position: fixed;
    z-index: 2;
}

.c3l6{
    width: 60px;
    height: 60px;
    border-style: solid;
    border-color: rgb(165, 97, 19);
    background-color: rgb(82, 225, 230);
    left: 370px;
    top: 399px;
    position: fixed;
    z-index: 2;
}

.c3l7, .c3l9, .c3l11, .c3l13{
    background: #CD6D45;
    height: 60px;
    width: 5px;
    position: relative;
    left: 21px;
    z-index: 3;}
    .c3l8, .c3l10, .c3l12, .c3l14:after {
    content: "";
    height: 5px;
    width: 60px;
    background: #CD6D45;
    position: absolute;
    left: -21px;
    top: 22px;
    z-index: 3;
}

.c3l15{
    width: 44px;
    height: 87px;
    background-color: rgb(73, 35, 9);
    position: fixed;
    top: 459px;
    left: 237px;
    z-index: 2;
}

.c3l16{
    width: 2px;
    height: 16px;
    background: rgb(160, 158, 21);
    border-radius: 50%;
    position: fixed;
    left: 241px;
    top: 495px;
    z-index: 3;
}

.c3l17{
    background: #CD6D45;
    height: 50px;
    width: 7px;
    position: relative;
    left: 533px;
    top: -2217px;
    z-index: 1;}
    .c3l18:after {
    content: "";
    height: 7px;
    width: 33px;
    background: #CD6D45;
    position: absolute;
    left: -33px;
    top: 37px;
    z-index: 1;
}

.c3l19{
    background: #CD6D45;
    height: 65px;
    width: 7px;
    position: relative;
    left: 533px;
    top: -2157px;
    z-index: 1;}
    .c3l20:after {
    content: "";
    height: 7px;
    width: 33px;
    background: #CD6D45;
    position: absolute;
    left: -33px;
    top: 46px;
    z-index: 1;
}

.c3l21{
    background: #CD6D45;
    height: 4px;
    width: 40px;
    position: fixed;
    left: 508px;
    top: 405px;
    z-index: 1;
}

.c3l22{
    width: 40px;
    height: 20px;
    background: #CD6D45;
    position: fixed;
    left: 508px;
    top: 329px;
    z-index: 1;
}

.c3l23{
    width: 40px;
    height: 20px;
    background: #CD6D45;
    position: fixed;
    left: 508px;
    top: 454px;
    z-index: 1;
}

button{
    position: fixed;
    top: 170px;
    z-index: 8;
    background-color: orangered;
}